<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">

    <Product Id="*"
        Name="ParentProduct"
        Language="1033"
        Version="1.1.0.1"
        Manufacturer="Parent Company"
        UpgradeCode="C5257426-C658-421B-9496-8351571E3F00" >

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade Disallow="yes"
            AllowDowngrades="no"
            AllowSameVersionUpgrades="no"
            DisallowUpgradeErrorMessage="An older version of [ProductName] is already installed. You must uninstall it before you can install this version."
            DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Media Id="1" Cabinet="parent1.cab" EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Complete" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="ParentProduct" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductComponent" Guid="{108892F1-7A65-4163-AA1C-1CB9432079EA}">
                <dep:Provides Key="WinFSPprovider"/>
                <File Source="parent.txt" Vital="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
